* {
  box-sizing: border-box;
}

html {
  background-color: #eee;
}

.center {
  text-align: center;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}

.mypassion {
  font-style: italic;
  background: -webkit-linear-gradient(left, red, green, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
